@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
    margin-top: 2.5rem;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*================================RESET==================================*/
title{
    font-family: "Shrikhand", arial, sans-serif;
}
h1{
    font-family: "Shrikhand", arial, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 7px;
    margin-left: 7%;
    font-size: 1.6rem;
}

h2{
    font-size: 1.2rem;
    position: relative;
    width: 90%;
}
h2::after{
    content: "";
    height: 0.25rem;
    width: 1.25rem;
    background-color: #99e2d0;
    position: absolute;
    top: 1.8rem;
    left: 0rem;
    width: 2.5rem;
}

h3{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
       margin-bottom: 0.5rem;
}

footer h3{
    font-family: "Shrikhand", arial, sans-serif;
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
}
p {
    margin: 0;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

a{
    color: black;
    text-decoration: none;
}
ul{
    padding: 0px;
    margin-left: 1rem;
}
li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
}
/*===============================================*/
.loader{
    background-color: black;
    height: 100vh;
    position: fixed;
    inset: 0 ;
    z-index: 1;
    opacity: 1;
    -webkit-animation: disappear 200ms;
            animation: disappear 200ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Shrikhand", arial, sans-serif;
}
.loader__menu{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-family: "Shrikhand", arial, sans-serif;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin-left: 10vw;
}
.loader__letter{
   font-size: 3.2rem;
   color: white;
}
.d__loader{
   font-size: 3.2rem;
   color: white;
}
.loader i{
   -webkit-animation: spin 3s infinite linear;
           animation: spin 3s infinite linear;
   color: white;
}
@-webkit-keyframes disappear{
   0%{
       -webkit-transform: scale(1);
               transform: scale(1);
   }
   100%{
       -webkit-transform: scale(0);
               transform: scale(0);
       visibility: hidden;
   }
}
@keyframes disappear{
   0%{
       -webkit-transform: scale(1);
               transform: scale(1);
   }
   100%{
       -webkit-transform: scale(0);
               transform: scale(0);
       visibility: hidden;
   }
}
@-webkit-keyframes spin{
   100%{
       -webkit-transform: rotate(360deg);
               transform: rotate(360deg);
   }
}
@keyframes spin{
   100%{
       -webkit-transform: rotate(360deg);
               transform: rotate(360deg);
   }
}


/*======================================LOADER===================================================*/
body{
    margin: 0;
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 13%;
    height: 4rem;
}
.fa-arrow-left:before {
    content: "\f060";
    font-size: 1.5rem;
   margin-left: 2rem;
}
@media screen and (min-width: 480px){
    h1{
        margin-left: 20%;
    }
}
/*====================HEADER============================*/
main{
    font-family: "Roboto", arial, sans-serif;
    background-color: #efefef;
    padding-bottom: 40px;
}
.title_bloc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -1.4rem;
    position: relative;
    background-color: #efefef;
    padding-top: 1rem;
    
    
}
.title_bloc span{
    content: "\f004";
    font-size: 1.6rem;
}
.restaurant_img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 250px;
}
.restaurant{
    border-radius: 15px 15px 0px 0px;
}


.heart_1{
    font-size: 2rem;
    position: absolute;
    opacity: 1;
}
.heart_2{
    color: transparent;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: -o-linear-gradient(top right, #9356DC, #FF79DA);
  background-image: linear-gradient(to bottom left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: 900ms;
  -webkit-transition: 700ms;
  -o-transition: 700ms;
  transition: 700ms;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  position: relative;
}

.heart_1:hover{
    opacity: 0;
}
.heart_2:hover{
    opacity: 1;
    -webkit-transform: scale(2.4);
        -ms-transform: scale(2.4);
            transform: scale(2.4);
   
}

/*=============================================================*/
@-webkit-keyframes slow
{
    0%
    {
        opacity: 0;
        -webkit-transform: translatey(50%);
                transform: translatey(50%);
    }
    50%
    {
        opacity: 0.5;
        -webkit-transform: translatey(20%);
                transform: translatey(20%);
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes slow
{
    0%
    {
        opacity: 0;
        -webkit-transform: translatey(50%);
                transform: translatey(50%);
    }
    50%
    {
        opacity: 0.5;
        -webkit-transform: translatey(20%);
                transform: translatey(20%);
    }
    100%
    {
        opacity: 1;
    }
}
.menu1 .resto1{
    -webkit-animation: slow 2000ms linear 1ms forwards 1 normal;
            animation: slow 2000ms linear 1ms forwards 1 normal;   
}
.menu1 .resto2{
    -webkit-animation: slow 2400ms linear 1ms forwards 1 normal;
            animation: slow 2400ms linear 1ms forwards 1 normal;   
}
.menu1 .resto3{
    -webkit-animation: slow 2800ms linear 1ms forwards 1 normal;
            animation: slow 2800ms linear 1ms forwards 1 normal;   
}
.menu2 .resto4{
    -webkit-animation: slow 3200ms linear 1ms forwards 1 normal;
            animation: slow 3200ms linear 1ms forwards 1 normal;
}
.menu2 .resto5{
    -webkit-animation: slow 3600ms linear 1ms forwards 1 normal;
            animation: slow 3600ms linear 1ms forwards 1 normal;
}
.menu2 .resto6{
    -webkit-animation: slow 4000ms linear 1ms forwards 1 normal;
            animation: slow 4000ms linear 1ms forwards 1 normal;
}
.menu3 .resto7{
    -webkit-animation: slow 4400ms linear 1ms forwards 1 normal;
            animation: slow 4400ms linear 1ms forwards 1 normal;
}
.menu3 .resto8{
    -webkit-animation: slow 4800ms linear 1ms forwards 1 normal;
            animation: slow 4800ms linear 1ms forwards 1 normal;
}
.menu3 .resto9{
    -webkit-animation: slow 5200ms linear 1ms forwards 1 normal;
            animation: slow 5200ms linear 1ms forwards 1 normal;
}

/*=======================================*/
.menu{
   margin-left: 1rem;
   margin-top: 2rem;
}
.restaurant_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    width: 98%;
    margin-top: 1rem;
    border-radius: 15px;
    height: 4rem;
    -webkit-box-shadow: 2px 3px 4px grey;
            box-shadow: 2px 3px 4px grey;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}

.menu_bloc_test{
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}
b{
    margin-top: 1.9rem; 
    width: 20%;
    margin-right: -4rem;
}

.menu__liste__item__circle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 64px;
    background-color: #99e2d0;
    position: relative;
    width: 65px;
    right: -57px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    -webkit-transition: all ease-in-out 450ms;
    -o-transition: all ease-in-out 450ms;
    transition: all ease-in-out 450ms;
}



.restaurant_menu:hover > .menu__liste__item__circle{ 
   margin-right: 56px; 
   -webkit-transition: ease-in 400ms; 
   -o-transition: ease-in 400ms; 
   transition: ease-in 400ms;
}

.menu__liste__item__circle .fa-solid{
    background-color: #99e2d0;
    font-size: 1.3em;
    color: white;
    background-color: #99e2d0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}

.restaurant_menu:hover .menu__liste__item__circle .fa-circle-check{
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    -o-transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}
.button{
    text-align: center;
    margin-top: 2rem;
}
#button_explorer{
    background-image: -webkit-gradient(linear,left bottom, left top,from(#9356DC), to(#FF79DA));
    background-image: -o-linear-gradient(bottom,#9356DC, #FF79DA);
    background-image: linear-gradient(to top,#9356DC, #FF79DA);
    border: none;
    width: 16rem;
    height: 55px;
    border-radius: 30px;
    color: white;
    font-size: 1.3em; 
    font-weight: 300;
    -webkit-box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.53);
            box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.53); 
    text-decoration: none; 
    text-align: center;
    font-size: 1.2rem; 
}

button:hover{
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03); 
    -webkit-transition: -webkit-transform 400ms; 
    transition: -webkit-transform 400ms; 
    -o-transition: transform 400ms; 
    transition: transform 400ms; 
    transition: transform 400ms, -webkit-transform 400ms;
    opacity: 0.6;
    -webkit-animation: button 1s ease forwards;
            animation: button 1s ease forwards;
    -webkit-box-shadow: 10px 10px 20px #565656;
            box-shadow: 10px 10px 20px #565656;
}

@media screen and (min-width: 750px){
    .menu__liste__item__circle{
        right: -3.5rem; 
    }
    }
/*============================================================*/
footer{
    background-color: #232323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    margin-bottom: 0;
    
} 
footer ul{
    margin-left: 2rem;
}
footer li{
    gap: 25px;
}
.contact__link{
    color: white;
}
@media screen and (min-width: 750px){
   footer ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    width: 69%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   } 
   footer li{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   }
}
@media screen and (min-width: 750px){
    h1{
        margin-left: 31%;
    }
    ul{
        margin-top: 0;
    }
}