@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

h1{
    font-family: "Shrikhand", arial, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 7px;
    margin-left: 7%;
    font-size: 1.6rem;
}

h2{
    font-size: 1.2rem;
    position: relative;
    width: 90%;
}
h2::after{
    content: "";
    height: 0.25rem;
    width: 1.25rem;
    background-color: #99e2d0;
    position: absolute;
    top: 1.8rem;
    left: 0rem;
    width: 2.5rem;
}

h3{
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

footer h3{
    font-family: "Shrikhand", arial, sans-serif;
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
}
p {
    margin: 0;
    font-size: 0.9rem;
}
b{
    margin-top: 1.9rem;
    margin-right: -2rem;  
}
a{
    color: black;
    text-decoration: none;
}
ul{
    padding: 0px;
    margin-left: 1rem;
}
li{
    display: flex;
    margin-top: 5%;
    align-items: left;
}
/*===============================================*/
body{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    gap: 13%;
    height: 4rem;
}
.fa-arrow-left:before {
    content: "\f060";
    font-size: 1.5rem;
   margin-left: 2rem;
}
@media screen and (min-width: 480px){
    h1{
        margin-left: 20%;
    }
}
/*====================HEADER============================*/
main{
    font-family: "Roboto", arial, sans-serif;
    background-color: #efefef;
    padding-bottom: 40px;
}
.title_bloc{
    display: flex;
    align-items: center;
    gap: 15%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -1.4rem;
    position: relative;
    background-color: #efefef;
    padding-top: 1rem;
    
    
}
.title_bloc span{
    content: "\f004";
    font-size: 1.6rem;
}
.restaurant_img{
    object-fit: cover;
    width: 100%;
    height: 250px;
}
restaurant{
    border-radius: 15px 15px 0px 0px;
}


.heart_1{
    font-size: 2rem;
    position: absolute;
    opacity: 1;
}
.heart_2{
    color: transparent;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to bottom left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: 900ms;
  transition: 700ms;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  position: relative;
}

.heart_1:hover{
    opacity: 0;
}
.heart_2:hover{
    opacity: 1;
    transform: scale(2.4);
   
}

/*=============================================================*/
@keyframes slow
{
    0%
    {
        opacity: 0;
        transform: translatey(50%);
    }
    50%
    {
        opacity: 0.5;
        transform: translatey(20%);
    }
    100%
    {
        opacity: 1;
    }
}
.menu1 .resto1{
    animation: slow 600ms linear 1ms forwards 1 normal;   
}
.menu1 .resto2{
    animation: slow 1200ms linear 2ms forwards 1 normal;   
}
.menu1 .resto3{
    animation: slow 1800ms linear 3ms forwards 1 normal;   
}
.menu2 .resto4{
    animation: slow 2700ms linear 8ms forwards 1 normal;
}
.menu2 .resto5{
    animation: slow 3500ms linear 10ms forwards 1 normal;
}
.menu2 .resto6{
    animation: slow 4500ms linear 12ms forwards 1 normal;
}
.menu3 .resto7{
    animation: slow 6000ms linear 16ms forwards 1 normal;
}
.menu3 .resto8{
    animation: slow 6500ms linear 18ms forwards 1 normal;
}
.menu3 .resto9{
    animation: slow 6900ms linear 20ms forwards 1 normal;
}

/*=======================================*/
.menu{
    margin: 5%;
    display: grid;
    margin-top: 1rem;
}
.menu_bloc_test{
  width: 85%;  
}
.restaurant_menu{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    margin-top: 1rem;
    border-radius: 15px;
    height: 4rem;
    box-shadow: 2px 3px 4px grey;
    overflow: hidden;
}

.menu_bloc_test{
    padding-left: 10px;
    width: 100%;
}

.menu__liste__item__circle{
    padding: 1rem;
    height: 70px;
    background-color: #99e2d0;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    opacity: 1;
    height: 4rem;
    right: -3.4rem;
    display: grid;
    align-items: center;
    color: white;
    transition: all ease-in-out 450ms;
    font-size: 1.4rem;
}

.restaurant_menu:hover > .menu__liste__item__circle{ 
    margin-right: 53px;
}
.menu__liste__item__circle .fa-solid{
    background-color: #99e2d0;
    transform: rotate(0deg);
}

.restaurant_menu:hover .menu__liste__item__circle .fa-circle-check{
    transition: transform 500ms ease-in-out;
    transform: rotate(360deg);
}


.restaurant_menu:hover > b{
    margin-right: -2rem;
}
.menu__liste__item__circle i{

    
}
.button{
    text-align: center;
}
#button_explorer{
    background-image: linear-gradient(to top,#9356DC, #FF79DA);
    border: none;
    width: 16rem;
    height: 55px;
    border-radius: 30px;
    color: white;
    font-size: 1.3em; 
    font-weight: 300;
    box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.53); 
    text-decoration: none; 
    text-align: center;
    font-size: 1.2rem; 
}

button:hover{
    transform: scale(1.03); 
    transition: transform 400ms;
    opacity: 0.6;
    animation: button 1s ease forwards;
    box-shadow: 10px 10px 20px #565656;
}

@media screen and (min-width: 750px){
    .menu__liste__item__circle{
        right: -3.5rem; 
    }
    }
/*============================================================*/
footer{
    background-color: #232323;
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 0;
    
} 
footer ul{
    margin-left: 2rem;
}
footer li{
    gap: 25px;
}
.contact__link{
    color: white;
}
@media screen and (min-width: 750px){
   footer ul{
    display: flex;
    gap: 30px;
    width: 69%;
    align-items: center;
   } 
   footer li{
    align-items: center;
   }
}
@media screen and (min-width: 750px){
    h1{
        margin-left: 31%;
    }
    ul{
        margin-top: 0;
    }
}
