@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

h1{
    font-size: 2em;
}
p{
    font-size: 1.5em;
}
#bloc_location p{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}

/*=================================FONT==================================================*/
body {
    margin: 0px;
}
header nav{
    text-align: center;  
    box-shadow: 0px 2px 3px 1px grey;
    padding-top: 1.5rem;
}
.logo{
   width: 50%;
   height: 45px;
}
/*===================================Header===================================================*/
#bloc_location{
    display: flex;
    gap: 9%;
    padding-top: 5%;
    padding-left: 25%;
    font-size: 1.3em;
    padding-bottom: 1rem;
    background-color: rgb(220, 220, 220);
}
#bloc_location span {
    margin-top: 0.5%;
    
}
#search_bar{
    border: none;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(220, 220, 220);
}

/*====================================SECTION PART======================================
 section{
    padding-left: 15%;
   
}
#button_explorer{
    margin-top: 2%;
    margin-left: 5%;
    width: 55%;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 0px;
    color: white;
    background-color: rgb(206, 37, 206);
    font-size: 1.2em; 
}

/*=====================================MAIN_BLOC=========================================
li{
    display: flex;
    margin-top: 5%;
}
.number_list{
   border: 1px solid;
   border-color: transparent;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-top: 40px;
   position: relative;left: 10px;
   background-color: purple;
    
}
.number_list i{
    margin-left: 11px;
    margin-top: 6px;
    color: white;
    font-size: 1.1em;
    
}

.container_fonct{
    border: 1px solid;
    padding: 40px 180px 40px 30px;
    border-radius: 25px;
    font-size: 1.5em;
    
}
.container_fonct span{
    margin-right: 30px;
    color: grey;
}

#restaurant_section{
    height: 30%;
}


.food_bloc {
    border: 1px solid;
    height: 30%;
    width: 90%;
    margin-top: 10%;
    border-radius: 20px;
}

.resto_img{
    height: 10%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

footer{
    margin-top: 100%;
} */